<!--<div class="jumbotron jumbotron-fluid">
    <div class="container">
      
<video id="sampleMovie" width="540" height="360" autoplay='true' loop >
    <source src="assets/video/fondo.mp4" />
 </video>
        <h1 class="  display-4">Comic App</h1>
        <p class="lead animated fadeIn">Esta es una aplicacion de comics </p>
    </div>
</div>-->
<div class="contenedor-home" >
    
   <div class="sombras ">
    <div class="fondo-img2 video">
        <div class="fondo-imgg2" ></div>
        <div class="heroes2 ">
            <div class="particulas"></div>
    
    
        </div>

    </div>
    
       
      <!--  <video class="video" autoplay='true' loop='true'>
           <source src="assets/video/fondo.mp4" />
        </video>
       <div class="imgcontai">
            <img src="assets/img/miniPortada.jpg" alt="">
        </div>-->
        <div class="fondo-img">

        </div>
        <div class="heroes"></div>
     
     <div class="title" >
        <h1 class="titulo" ><strong> SUPER HEROES</strong></h1>
        <p class="letras " ><strong>¿Estas listo para la Batalla?</strong></p>
    </div>

    <div class="miniPortada" >
        
        <img class="miniImg" (click)="visibilidad()" src="assets/img/miniPortada.jpg" alt="marvel">
        <img class="miniImg abajo" (click)="visibilidad()" src="assets/img/fondo.jpg" alt="">
    </div>
   </div>

   
</div>